{% extends "base.html" %}

{% block title %}
inicio
{% endblock %}

{% block content %}

        <div class="row-fluid ">

            <div class="span7">
              <br><br><br><br>

              <h4 class="alinear1" align="center">Sistema web utilizado para la Administración de todo lo referente a Mastergoal, ya sea control de partidas, información del sistema, edición de usuarios y mas.</h4>

              <br><br><br><br>
            </div>

          

     
      <div class="row-fluid">
        <div class="span12">
          <hr class="medio">
          <div class="row-fluid s1 medio2">
            <div class="span3">
              <img id="margen" width='180px' height='180px' src="{{MEDIA_URL}}img/jugador1.jpg" align="center" class="img-circle">
              <br>
              <br>
              <h3 class="estilo"><font color="#151515"><strong>MASTERGOAL</strong></font></h3>
            </div>
            <div class="span3">
              <img id="margen1" width='180px' height='180px' src="{{MEDIA_URL}}img/jugador2.jpg" align="center" class="img-circle">
              <br>
              <br>
              <br>
              <h4 class="estilo1"><font color="#151515"><strong>El sistema web de Mastergoal</strong></font></h4>
            </div>
            <div class="span3">
              <img id="margen2" width='180px' height='180px' src="{{MEDIA_URL}}img/jugador3.jpg" align="center" class="img-circle">
            </div>
            <div class="span3">
              <img id="margen3" width='400px' height='400px' src="{{MEDIA_URL}}img/messi2.png" align="center">
            </div>
          </div>
          <hr class="medio1">
        </div>
      </div>  	


{% endblock %}